@import 'tailwindcss';

:root {
  --primary: #dceaf2;
  --secondary: #3d5a80;
  --tertiary: #3f463e;
  --quaternary: #f1f1f1;
  --quinary: #ffffff;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-quinary: var(--quinary);
  --font-sans: var(--font-primary);
}
body {
  color: var(--secondary);
  background: var(--quinary);
  font-family: var(--font-primary), sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
